.search {
    width: 100%;
    display: flex;
}
.search-bar {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 3rem;
    border: .1rem solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    font-size: 2.5rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 2rem 0 0 0;
}

.search-bar:focus{
    outline: none;
    background-color: white;
}

